h1 {
    color: black;
    background-color: green
}

h2 {
    color: red;
    background-color: black
}

p {
    color: blue;
    background-color: yellow;
    font-family: Arial;
}

#parrafo1 {
    color: black;
    background-color:olive;
    font-family: cursive;
}

h3 {
    color: yellow;
    background-color: orangered
}

h4 {
    color: purple;
    background-color: blue
}

h5 {
    color: pink;
    background-color: magenta
}

h6 {
    color: black;
    background-color: yellow
}
input {
    background-color: green
}